

.homepage-pic-container{
    // position: relative;
    background-image: image-url('homepage.png');
    // width: 1450px;
    height: 500px;
    background-repeat: no-repeat center;
    background-size: cover;
    overflow: hidden;
    background-position: 10%;
}

.greeting {
    position: absolute;
    top: 230px;
    left: 130px;
    width: 450px;
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.greeting h2{
    font-size: 47px;
    font-weight: 800;
}

.greeting p {
    margin-top: 10px;
    font-weight: bolder;
    
}

@media only screen and (min-width: 1200px) {
    .homepage-pic-container {
        width: 100%;
    }
    // .greeting {
    // width: 480px;
    // }
}

@media only screen and (max-width: 1200px) {
    .homepage-pic-container {
        width: 1200px;
        width: 100%;
    }
    // .greeting{
    //     width: 400px;
    // }
}

.index-container h2 {
    text-align: center;
    margin: 10px;
}

.index-container p {
    // color:
}

.medal-icon {
    background-image: image-url('medal.svg');
    width: 50px;
    height: 50px;
    padding: 5px;
    box-sizing: border-box;
    background-size : 50px;
}
.medal-icon-container{
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.index-container p{
    text-align: center;
    // color:rgb(210, 210, 210)
}