.nav-bar{
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.nav-bar h1{
    font-size: 28px;
}

.nav-left {
    margin-left: 20px;
    width: 100px;
    position: relative;
}


.logo-black {
    position: relative;
    z-index: 1;
    height: 30px;
}

.logo-mint {
    position: absolute;
    z-index: 2;
    opacity: 0;
    height: 30px;
} 

.logo-mint:hover {
    opacity:100;
    transition: all .25s ease-in-out;
}

 .subnav-left, .session-button,.nav-right {
    display: flex;
}

.subnav-left {
    flex-grow: 9;
}

.nav-left {
    display: flex;
    flex-grow: 9;
    min-width: 530px;
}

.nav-left a {
    flex-grow: 0;
}

.nav-right {
    flex-grow: 0;
}

.subnav-left .discover-button{
    flex-grow: 0;
}

.subnav-left .search-container {
    flex-grow: 9;
}

.dropdown-container {
    margin-right: 20px;
}

.subnav-left > li {
    padding:10px 10px;
    // width: 150px;
}

.discover-button {
    margin-left:60px;
    margin-right: 20px;
}

.upload-button{
    margin-right: 10px;
}

.session-button > div{
    padding: 5px 20px;
}

.circled-button {
    border-radius: 18%/50%;
    border: 2.5px solid black;
    width: 70px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -2px;
    overflow: hidden;
    position: relative;
}

.nav-bar .dropdown-list li:hover, .upload-button:hover, .discover-button:hover, .circled-button:hover{
    color: rgb(64, 214, 184);
    transition: all .25s ease-in-out;
    border-color: rgb(64, 214, 184);
}

.non-circled-button{
    margin-top: 5px;
}

.nav-right {
    font-weight: 500;
    margin-right: 10px;
}

.upload-button {
    border-radius: 18%/50%;
    border: 2.5px solid black;
    text-align: center;
    padding: 5px 20px;
    font-size: 20px;
    max-height: 42px;
    position: relative;
    overflow: hidden;
}

.upload-button::before, .circled-button::before{
    content: "";
    height:250%;
    width:35px;
    background-color: rgba(153, 253, 233, 0.4);
    width:30px;
    position: absolute;
    // top:-2px;
    transform: rotate(20deg) translateX(-70px);
    transition: all 0.6s ease-in-out;
}

.upload-button:hover::before ,.circled-button:hover::before{
    transform: translateX(90px) translateY(-20px) rotate(20deg);
}

.dropdown-container img {
    border-radius: 50%;
    display: block;
    width: 40px;
    height: 40px;
    object-fit: cover;
}

.dropdown-container {
    position: relative;
}

.dropdown-list {
    display: none;
    position: absolute;
    width: 140px;
    background-color: white;
    // box-shadow: 1px 1px 1px 1px rgba(138, 136, 136, 0.5);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 4px 12px, rgba(0, 0, 0, 0.08) 0px 0px 4px;
    border-radius: 5px;
    z-index: 1;
    // top: -10px;
}

.dropdown-container:hover .dropdown-list{
    display: block;
    overflow: hidden;
}

.dropdown-list p{
    padding: 5px 10px 5px 10px;  
}

.dropdown-list p:hover{
    color: white;
    background-color: rgb(64, 214, 184);
    // transition: all .25s ease-in-out;
}

.subnav-left input{
    padding: 10px 12px;
//    display: inline-block;
    position: relative;
    flex-grow:9;
    min-width: 100px;
}

.search-container {
    border: 2px solid lightgray;
    border-radius: 20px;
    display: flex;
    align-items: center;
    position: relative;
    margin-right: 20px;
    max-width: 450px;
}

.search-button .fa-search {
    margin-right: 10px;
    color: rgb(80, 80, 80);
    flex-grow: 0;
      
}

.session-button {
    position: relative;


}

.search-button .fa-search:hover {
    transform: scale(1.05);
    // transition: all .1s ease-in-out;
}

.search-result-list {
    position: absolute;
    transform: translateY(50%);
    margin-top: 20px;
    // width: 230px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 4px 12px, rgba(0, 0, 0, 0.08) 0px 0px 4px;
}

