.picture-index-container{
    display:flex;
    width:100%;
    justify-content: center;
}

.picture-index{
    width: 90%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

.picture-item {
    flex-grow: 1;
    position: relative;
    margin: 5px;
    display:block;
}

.picture-img {
    height: 200px;
    object-fit: cover;
    min-width: 100%;
    max-width: 100%;
    vertical-align: bottom;
    border-radius: 3px;
}

.picture-img:hover {
    transform: scale(1.05);
    transition: all 0.1s ease-in-out;
}

