.discover-page-container h2 {
    font-size: 40px;
}

.discover-page-container p {
    font-size: 20px;
    color: rgb(105, 105, 105);
}

.discover-text-container {
    margin-top:  30px;
    margin-bottom: 30px;
    margin-left: 60px;
    background-image: image-url('watercolor2.png');
    background-repeat: no-repeat;
    background-size: 350px;
    position: relative;
    overflow: hidden;
}

.background-img-holder{
    background-image: image-url('green-watercolor.png');
    position: absolute;
    background-size: contain;
    width: 100px;
    height: 100px;
    background-repeat: no-repeat;
    margin-left: 350px;
    top:-30px;
}