.session-form {
    border: 1px solid rgb(210, 210, 210);
    border-radius: 8px;
    position: absolute;
    width: 300px;
    padding: 40px;
    top: 15%;
    left: 50%;
    transform: translate(-50%, 0);
}

.session-form input{
    display: block;
    margin-bottom: 10px;
    width:100%;
    height: 30px;
}

.session-form h2{
    font-size: 25px;
    padding-bottom: 10px;
    text-align: center;
}

.session-form input[type="submit"]{
    background-color: rgb(69, 223, 192) ;
    border-radius: 8%/50%; 
    text-align: center;
    margin: 0 auto;
    margin-top: 10px;
    border: none;
    font-size: 18px;
    height: 40px;
    color: white;
}

.session-form input[type="text"],
.session-form input[type="password"]{
    border: 1px solid rgb(210, 210, 210);
}

.session-form p{
    padding-top: 10px;
    color:rgb(145, 145, 145);
    padding-bottom: 10px;
}

.container-section{
    background-color: rgb(228, 226, 226);
}

#session-submit:hover {
    background-color: rgb(130, 236, 215) ;
}

.bottom-message{
    padding-top: 10px;
    line-height: 40px;
    color:rgb(145, 145, 145);
    font-size: 14px;
}

.session-form a{
    color:rgb(24, 143, 254);
    font-size: 16px;
    font-weight: 4px
}
.error {
    color:rgb(211, 85, 85);
}

#demo-user{
    background-color: rgb(84, 171, 230);
}

#demo-user:hover{
    background-color: rgb(124, 213, 248);
}
